h2 {
    font-size: 36px;    
}

.details-container {
    background-color: white ;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.show-info {
    color: gray;
    padding: 0;
}

.show-info li {
    display: inline-block;
    margin-right: 10px;
}

img {
    width: 100%;
    padding-top: 15px;
}

footer {
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #b0bec5;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    animation: rotate 2s linear infinite;
}